/* navigation */
#navbar{
    flex-direction: column;
}

/* home section */
#home{
    height: 370px;
    padding: 3px 27px;

}
#home::before{
    height: 480px;

}
#home p{
    font-size: 13px;
}
/* services */
#services{
    flex-direction: column;

}

#services .box{
    padding: 14px;
    margin: 2px 55px;
    border-radius: 28px;
    background: #f2f2f2;
    margin-bottom: 20px;

}

/* clients section  */
#clients{
flex-wrap: wrap;
}
#client img{
    width: 66px;
    padding: 2px 4px;
    height: auto;
}

/* contact us  */
#contact-box{
    font-size: 26px;
}


/* footer */

/* utility  */
.h-primary{
    font-size: 25px;
}